<div class="col-xs-4 col-md-4 viewUser">
    <div class="col-md-9 go-right new-user-form nomargin fullwidth" style="background-color:#FAFAFF;border-radius:0px 22px 22px 22px;">
        <h2>Users List</h2>
        {{#if users.length}}
            <ul>
                {{#each users}}
                    <li>{{this.firstName}} {{this.lastName}}</li>
                {{/each}}
            </ul>
        {{else}}
            <p>No users yet</p>
        {{/if}}
    </div>
</div>