<html lang="en">
	<head>
	  <title>Node-Mongo-Docker</title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"> -->

	  <link rel="stylesheet" type="text/css" href="/css/style.css">
      <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	  <!-- <link rel="stylesheet" type="text/css" href="/css/lato.css"> -->
	  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	  <!-- <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css"> -->
	  <!-- <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css"> -->
	</head>
	<body>
    <div class="container-fluid js-main" ><br><br>
        <div class="col-xs-4 col-md-4">
            <form id="addNewUserForm" role="form" name="userDataForm" class="form-inline col-md-9 go-right new-user-form nomargin fullwidth" style="background-color:#FAFAFF;border-radius:0px 22px 22px 22px;">
                <h2>Add User</h2>
                <div class="form-group">
                    <input id="Firstname" name="Firstname" type="text" class="form-control" placeholder="First name" required>
                    <label for="Firstname">First Name 
                        {{!-- <span class="glyphicon glyphicon-user"> </span> --}}
                    </label>
                </div>
                <div class="form-group">
                    <input id="Lastname" name="Lastname" type="text" class="form-control" placeholder="Last name" required>
                    <label for="Lastname">Last Name 
                        {{!-- <span class="glyphicon glyphicon-user">  --}}
                    </label>
                </div>
                <br><br>
                <div class="form-group">
                    <input id="phone" name="phone" type="tel" class="form-control" placeholder="Phone number">
                    <label for="fphone">Phone 
                        {{!-- <span class="glyphicon glyphicon-phone"> --}}
                    </label>
                </div>
                <br><br>

                <div class="form-group">
                    <input id="Email1" name="email" class="form-control" style="width:400px;" placeholder="Registered email"></textarea>
                    <label for="Email1">Email 
                        {{!-- <span class="glyphicon glyphicon-align-envelope"> --}}
                    </label>
                </div>
                <br><br>
                <button class="waves-effect waves-light btn saveUser">Save</button>
                <a class="waves-effect waves-light btn viewAllUser">View Users</a>
                <br><br>
            </form>
        </div>
    </div>
    {{!-- <script type="text/javascript" src='/js/jquery-3.2.1.min.js'></script> --}}
    {{!-- <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script> --}}
    <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/jquery.form-validator.min.js"></script>
  </body>
</html>
